/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* content styles */

html {
  font-size: 16px;
}

body {
  font-family: "Lexend Mega", sans-serif;
  width: 100%;
  max-width: 1500px;
}

h2,
h3 {
  font-weight: 500;
}

header,
main,
footer {
  margin: auto;
}

/* header */

header {
  margin-bottom: 1rem;
  width: 100%;
}

header h1 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
  padding: 1.5rem;
}

header nav ul {
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

li > a {
  color: black;
}

/* banner */

#banner {
  background-image: url("./resources/banner-img.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner > div {
  text-align: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

#banner h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

#banner h3 {
  font-size: 1.5rem;
}

/* portfolio */

#portfolio {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 5%;
}

#portfolio h3 {
  margin: 2% auto;
}

#portfolio article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

#portfolio .images {
  text-align: center;
  width: 30%;
  margin-bottom: 1rem;
}

.images > p {
  font-size: 1.3rem;
  margin: 1rem auto;
}

#portfolio img {
  overflow: hidden;
  border-radius: 5px;
  margin: auto;
  max-width: 75%;
  height: auto;
}

/* Team */

#team {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  text-align: center;
}

#team h2 {
  font-size: 2rem;
  font-weight: 500;
}

#team article {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

#team .images {
  width: 30%;
  flex-shrink: 1;
  line-height: 1.6;
}

#team img {
  margin: 1rem auto;
  max-width: 50%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}

/* footer */

footer {
  background-color: hsl(0, 0%, 69%);
  padding: 3%;
  width: 100vw;
}

footer section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* max-width: 100%; */
  text-align: center;
}

footer h2 {
  font-size: 1.8rem;
}

footer p {
  margin: 2rem 0;
  font-size: 1.2rem;
}

p.number {
  margin-top: 0;
}

.copy {
  font-size: 1rem;
  align-self: flex-start;
  margin: 0;
}
